@import url("https://fonts.googleapis.com/css2?family=Schoolbell&display=swap");
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: #30333b;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

header {
  padding: 0 60px;
  font-family: "Schoolbell", cursive;
  width: 100%;
  height: 140px;
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.logo {
  font-size: 30px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #000000;
}
nav {
  width: 380px;
  transform: translateX(-45px);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  letter-spacing: 0.1em;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  padding: 0 5px;
}

nav ul li a:hover {
  font-weight: 800;
  color: #e86a3c;
}

.link {
  width: 100px;
}

.link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link a:first-child {
  margin-right: 13px;
}

.link a i {
  color: #e4e4e4;
  font-size: 30px;
}

.link a i:hover {
  color: #cacaca;
}

section {
  width: 100%;
  max-width: 1300px;
}

/* .link__icon {
  height: 30px;
  border: none;
  background-color: inherit;
  width: min-content;
  font-size: 30px;
} */

/* home */

.click-me-eng {
  width: 150px;
  /* position: absolute;
  top: 285px;
  left: 33%; */
  margin-bottom: 15px;
}

.click-me-kor {
  width: 200px;
  /* position: absolute;
  top: 315px;
  right: 7%; */
  margin-bottom: 15px;
  position: relative;
  left: 130px;
  top: 10px;
}

.home__text.eng {
  /* position: relative; */
  padding-bottom: 5%;
}

.home__text.kor {
  padding-bottom: 4%;
}

.home {
  /* background-color: pink; */
  /* margin-top: 140px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__picture {
  width: 288px;
  height: 288px;
  border-radius: 15px;
  margin: 0 30px;
}

.home__text {
  width: 100%;
  /* height: 100%; */
  /* background-color: yellow; */
  text-align: center;
  cursor: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__text p {
  margin-bottom: 17px;
  font-size: 18px;
  color: #30333b;
}

.home__text p:last-child {
  margin: 0;
}

.home__text p span {
  background-color: #ffda58;
  padding: 0 3px;
  font-weight: 500;
}

.home__text p span:hover {
  color: #ff6258;
  background-color: inherit;
}

/* about */
.about {
  border-top: 2px solid #cacaca;
}

/* about age */
/* about traveling */
/* about concert */
.about__age,
.about__traveling,
.about__concert,
.about__graduate,
.about__wecode,
.about__major {
  width: 100%;
  height: 100vh;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #cacaca;
}

.about__wecode {
  border: none;
}

.about__age img,
.about__traveling img,
.about__concert img,
.about__graduate img,
.about__wecode img {
  width: 300px;
  border-radius: 5px;
  margin-right: 30px;
}

.about__age img:last-child {
  margin-right: 0;
}

.about__major img {
  width: 60%;
}

/* footer */
footer {
  width: 100%;
  background-color: #f5f5f5;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul li p,
footer ul li a {
  margin-bottom: 5px;
  font-size: 13px;
  color: #949497;
}

/* aside */
aside {
  /* background-color: sandybrown; */
  /* opacity: 50%; */
  width: 50px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

aside ul li {
  /* cursor: pointer; */
  font-size: 30px;
  margin-bottom: 30px;
}

aside ul li:hover {
  transform: scale(1.3);
}

/* 위치알림 */
.quick-icons li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quick-icons li::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 10px;
}

.quick-icons li.icon-active::before {
  background-color: #e24849;
}

/* home, footer보일때 icons 비활성 */

.quick-icons.show-off {
  visibility: hidden;
}
